.myFooter {
    background-image: url(/public/images/footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}