<h2 class="main-title">{{ movie?.title }}</h2>
<div *ngIf="movie" id="movie-details-container">
  <div id="image-container">
    <div>
      <img
        id="movie-image"
        *ngIf="imageUrl"
        [src]="imageUrl"
        [alt]="movie.title"
        width="96"
        height="128"
      />
    </div>
    <div id="image-info-container">
      <p id="user-rating" class="details-info">
        User Rating: <span>{{ movie.imdbRating.userRating }}</span>
      </p>
      <p id="expert-rating" class="details-info">
        Expert Rating: <span>{{ movie.imdbRating.expertRating }}</span>
      </p>
      <p id="length" class="details-info">
        Length: <span>{{ movie.length }}</span>
      </p>
      <p id="release-year" class="details-info">
        Release Year: <span>{{ movie.releaseYear }}</span>
      </p>
    </div>
  </div>

  <div id="plot-container">
    <h4 class="details-title">Plot</h4>
    <p>{{ movie.plot }}</p>
  </div>

  <div id="trailer-container" *ngIf="movie.media.trailerUrl">
    <h4 class="details-title">Trailer</h4>
    <iframe
      width="280"
      height="158"
      [src]="movie.media.trailerUrl | safeUrl"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen>
    </iframe>
  </div>

  <div id="director-container">
    <p class="details-info">Director: {{ movie.director }}</p>
    <p class="details-info">WarType: {{ movie.warType }}</p>
  </div>

  <div id="cast-container">
    <div id="actors-container" class="crew-container margin-box">
      <h4 class="details-title">Actors</h4>
      <p *ngFor="let actor of movie.actors">{{ actor }}</p>
    </div>
    <div id="writers-container" class="crew-container">
      <h4 class="details-title">Writers</h4>
      <p *ngFor="let writer of movie.writers">{{ writer }}</p>
    </div>
  </div>

  <div id="production-container">
    <div id="country-container" class="margin-box">
      <h4 class="details-title">Filming Locations</h4>
      <p *ngFor="let country of movie.country">{{ country }}</p>
    </div>
    <div id="language-container">
      <h4 class="details-title">Spoken Languages</h4>
      <p *ngFor="let lang of movie.language">{{ lang }}</p>
    </div>
  </div>

  <div *ngIf="isAdmin">
    <a id="update-movie" class="button big-button update-button" [routerLink]="['/update-movie', movie._id]">Update Movie</a>
  </div>

  <div *ngIf="isAdmin">
    <a id="delete-movie" class="button big-button" routerLink="/">Delete Movie</a>
  </div>

</div>