<h2 class="main-title">Login/Register</h2>
<div>
    <div id="image-container">
      <div>
        <img
          id="movie-image"
          src="imageUrl"
          alt="title"
          width="128"
          height="128"
        />
      </div>
      <div>
        <p id="user-rating">
          User Rating: <span>8.5</span>
        </p>
        <p id="expert-rating">
          Expert Rating: <span>7.4</span>
        </p>
        <p id="length">
          Length: <span>length</span>
        </p>
        <p id="release-year">
          Release Year: <span>1974</span>
        </p>
      </div>
    </div>
  
    <div id="plot-container">
      <h4>Plot</h4>
      <p>
        data.plot
      </p>
    </div>
  
    <div id="trailer-container">
      <h4>Trailer</h4>
      <iframe
        width="280"
        height="158"
        src=""
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
      </iframe>
    </div>
  
    <div id="director-container">
      <p>Director: data.director</p>
      <p>WarType: data.warType</p>
    </div>
  
    <div id="cast-container">
      <div id="actors-container">
        <h4>Actors</h4>
        <p>
          actor
        </p>
      </div>
      <div id="writers-container">
        <h4>Writers</h4>
        <p>
          writer
        </p>
      </div>
    </div>
  
    <div id="production-container">
      <div id="contry-container">
        <h4>Filming Locations</h4>
        <p>
          country
        </p>
      </div>
      <div id="language-container">
        <h4>Spoken Languages</h4>
        <p>
          language
        </p>
      </div>
    </div>
    
  </div>