<h2 class="main-title">{{ movie?.title }}</h2>
<div *ngIf="movie">
  <div id="image-container">
    <div>
      <img
        id="movie-image"
        [src]="movie.media.imageUrl"
        [alt]="movie.title"
        width="128"
        height="128"
      />
    </div>
    <div>
      <p id="user-rating">
        User Rating: <span>{{ movie.imdbRating.userRating }}</span>
      </p>
      <p id="expert-rating">
        Expert Rating: <span>{{ movie.imdbRating.expertRating }}</span>
      </p>
      <p id="length">
        Length: <span>{{ movie.length }}</span>
      </p>
      <p id="release-year">
        Release Year: <span>{{ movie.releaseYear }}</span>
      </p>
    </div>
  </div>

  <div id="plot-container">
    <h4>Plot</h4>
    <p>{{ movie.plot }}</p>
  </div>

  <div id="trailer-container" *ngIf="movie.media.trailerUrl">
    <h4>Trailer</h4>
    <iframe
      width="280"
      height="158"
      [src]="movie.media.trailerUrl | safeUrl"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen>
    </iframe>
  </div>

  <div id="director-container">
    <p>Director: {{ movie.director }}</p>
    <p>WarType: {{ movie.warType }}</p>
  </div>

  <div id="cast-container">
    <div id="actors-container">
      <h4>Actors</h4>
      <p *ngFor="let actor of movie.actors">{{ actor }}</p>
    </div>
    <div id="writers-container">
      <h4>Writers</h4>
      <p *ngFor="let writer of movie.writers">{{ writer }}</p>
    </div>
  </div>

  <div id="production-container">
    <div id="country-container">
      <h4>Filming Locations</h4>
      <p *ngFor="let country of movie.country">{{ country }}</p>
    </div>
    <div id="language-container">
      <h4>Spoken Languages</h4>
      <p *ngFor="let lang of movie.language">{{ lang }}</p>
    </div>
  </div>
</div>