.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

#create-movie {
    display: inline-block;
    margin-bottom: 2.5rem;
    background-color: rgb(15, 190, 94);
}

.loading {
    color: var(--pri-txt-color);
}

.error {
    color: var(--sec-txt-color);
}